# Shopify Storefront API
SHOPIFY_STORE_DOMAIN=
SHOPIFY_STOREFRONT_ACCESS_TOKEN=

# Shopify Customer Account API (Phase 4)
SHOPIFY_CUSTOMER_ACCOUNT_API_CLIENT_ID=
SHOPIFY_CUSTOMER_ACCOUNT_API_URL=

# Site
NEXT_PUBLIC_SITE_URL=http://localhost:3000
